<header>
  <nav class="navbar">
    <div class="nav-barnd">
      <a href="/" class="nav-link">首頁</a>
    </div>
    <div class="nav-list">
      <a href="/about" class="nav-link {{#ifCon page "about"}} active {{/ifCon}}">About</a>
      <a href="/portfolio" class="nav-link {{#ifCon page "portfolio"}} active {{/ifCon}}">Portfolio</a>
      <a href="/contact" class="nav-link {{#ifCon page "contact"}} active {{/ifCon}}">Contact</a>
    </div>
  </nav>
</header>
